<form action="/" method="POST" class="form-horizontal remote" role="form" id="">
	<div class="col-md-10">
		<div class="form-group">
			<label class="sr-only" for="">label</label>
			<input type="text" class="form-control" id="text_input" placeholder="Input field" value="United States Constitution" name="text_input">		
		</div>
	</div>
	<div class="col-md-2">
		<button type="submit" class="btn btn-primary">Mash This Here Button</button>
	</div>
</form>
