<h1>Test App?</h1>

<div class="row">
	<div class="col-md-12 text-center">
		<%= erb :_form %>		
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<h2 id="result">(mash that button!)</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Last five asks</h3>
		<table class="table table-bordered table-striped" id='result_table'>
			<tr>
				<% @requests[0].attributes.keys.select { |k| k != 'id' && k !~ /at/ && k !~ /search/ }.each do |key| %>
					<th><%= key.capitalize.gsub('_',' ') %></th>
				<% end %>
			</tr>
			<% @requests.each do |req| %>
				<tr class="result_row">
					<%= erb :_request, layout: false, locals: { request: req } %>				
				</tr>
			<% end %>
		</table>
	</div>		
</div>