<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title || 'Default Title Here' %></title>

	<link rel="stylesheet" href="/assets/style.css">

</head>
<body>
	<div class="container">
		<%= yield %>	
	</div>
</body>
</html>